//= require material_icons
@import "bootstrap";
body{
  font-family: "Raleway", Arial, sans-serif;
  background-color: #F1F3F6;
}
.box-s-primary {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}
.h-72-px {
  height: 72px;
}
.box-s-secondary {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.border-secondary {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.op-font-text {
  font-size: 11px;
  opacity: 0.5;
  font-weight: bold;
  letter-spacing: 1.2px;
}
.d-content {
  display: contents;
}
.d-card-text {
  font-size: 14px;
  opacity: 0.6;
}
.h-165-px {
  min-height: 165px;
}
.b-rad-10px {
  border-radius: 10px;
}
.bg-aliceblue {
  background-color: aliceblue;
}
.img-sha {
    border-radius: 40px;
    filter:drop-shadow(1px 0px 1px gray)
}
.dropdown-sha {
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
  box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
}
.font-12-px{
  font-size: 12px;
}
.new_relationship,.edit_relationship{
display: inline;
position: absolute;
padding: 0 10px;
}