//= require material_icons
@import "bootstrap";

.box-s-primary {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}
.h-72-px {
  height: 72px;
}
.box-s-secondary {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.border-secondary {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.op-font-text {
  font-size: 11px;
  opacity: 0.5;
  font-weight: bold;
  letter-spacing: 1.2px;
}
.d-content {
  display: contents;
}